.layoutSidenav {
  display: flex;
}
.layoutSidenav_content {
  // padding-left: 16rem;
  top: 3.625rem;
  margin-left: 0;
  transition: margin 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 3.625rem);
  background-color: #eff3f9;
}
.container {
  padding: 2.5rem !important;
  padding-bottom: 5.4rem !important;
}

@media (max-width: 767px) {
  .container {
    padding: 1rem !important;
    padding-bottom: 5.4rem !important;
  }
}
