@import '~bootstrap/scss/bootstrap.scss';
@font-face {font-family: "Maison Neue Light"; src: url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.eot"); src: url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.woff") format("woff"), url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.svg#Maison Neue Light") format("svg"); } 
@font-face {font-family: "Maison Neue"; src: url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.eot"); src: url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.woff") format("woff"), url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.svg#Maison Neue") format("svg"); } 
@font-face {font-family: "Maison Neue Red Bull Demi"; src: url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.eot"); src: url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.woff") format("woff"), url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4077fc58b77b7447130fb9084b7afac7.svg#Maison Neue Red Bull Demi") format("svg"); } 
body {
  margin: 0;
  font-family:'Maison Neue Red Bull Demi';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b3646;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:focus,
.btn.focus,
.form-control:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: none !important;
}
